body,html {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  text-align:center;
  background-color:#5a730f;
  background-position:50% 0;
  background-repeat:repeat-x;
  background-image:url('../images/bkg.gif');
}
body,html,table {
  font-size:17px;
  line-height:150%;
  font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff; }

h1 {
  /* margin-top: 15px; */
  margin: 20px 0 0 0;
  /* padding: 5px 0 5px 0;  */
  padding-top: 5px; 
  font-size:30px;
  clear:both; 
}

div {
  display:block;
  margin: 0;
  padding: 0; 
  text-align:left;
}

a {
  color:white;
  text-decoration: none;
}

a:hover {
  color:#37eb0ac0;
}

.top {
  color:#ff9900;
  font-weight:bold;
  font-size: 18px;
}

.main {
  width:720px;
  margin: 0 auto 0 auto;
}

.text {
  text-align: justify;
}

.text-movie {
  padding-top: 0;
}

.container {
  /* display: inline-block; */
  display: flex;
  width: 720px;
  height: auto;
}

#active {
  text-decoration: none;
  color:#ff9900;
  font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight:bold;
}

img {
  width: 720px;
  height: auto;
  border-radius: 2px;
  padding: 20px 10px 10px 10 10px;
}

#img-ala {
  margin-top: 17px;
  padding: 30px 0 0 10px;
  width: 365px;
  height: 400px;
}

#img-left {
  padding: 10px 20px 0 0;
  width: 337px;
}

#img-right {
  padding: 10px 0px 0 20px;
  width: 337px
  /* text-align: right; */
}

#text-index {
  margin-top: 0;
  padding-right: 10px;
}

#text-index-2 {
  margin-top: 30px;
  margin-left: 60px;
  margin-bottom: 0;
  padding-right: 10px;
}

#logo {
  position:relative;
  height:50px; 
  background-repeat:no-repeat;
  background-position: 50% 0;
}

#logo ul {
  display:block;
  position:absolute;
  margin: 0;
  padding: 0; 
  list-style:none; 
  text-align:center;
}

#logo ul li {
  display: block;
  float:left;
  clear:none;
  padding:0px 21px;
  margin:0;
  border-right:1px solid #ff9900; 
}

#logo ul li.last {
  border: 0px;
}

#logo ul li.first {
  padding-left: 0;
}

#menu {
  width: 750px;
  bottom:10px;
}

#photo {
  padding-top: 20px;
}

#square-foto {
  width: 600px;
  padding-left: 60px;

}

#footer {
  width:100%;
  margin: 30px 0 0 0 ;
  padding: 10px 0; 
  background-color:#324202; 
  text-align:center; 
  font-size:small;
}

/* To jest do poprawy, tekst w stopce przesunięty do lewej strony  */
#footer p {
  display: block;
  float:none;
  clear:both;
  margin: 0 auto 0 auto; 
  padding: 0;
  width: 720px; 
  text-align:left;
  color: #ff9900;
}
